KS.DataManagePlatform/KS.DataManage.Entity/obj/
KS.DataManagePlatform/KS.DataManage.Client/Setting/UC_D99ataSetting - 副本.resxc
KS.DataManagePlatform/KS.DataManage.Client/Setting/UC_DataSetting_BACKUP_1004.resx
KS.DataManagePlatform/KS.DataManage.Client/Setting/UC_DataSetting_BASE_1004.resx
KS.DataManagePlatform/KS.DataManage.Client/Setting/UC_DataSetting_LOCAL_1004.resx
KS.DataManagePlatform/KS.DataManage.Client/Setting/UC_DataSetting_REMOTE_1004.resx
